asgiref
contourpy
cycler
Django
django-filter
djangorestframework
fonttools
kiwisolver
matplotlib
numpy
packaging
pillow
psycopg2-binary
pyparsing
python-dateutil
python-dotenv
six
sqlparse
markdown
requests
