{% extends 'base.html' %}

{% block content %}

<h2>Задачи</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Статус</th>
            <th>Назначено</th>
            <th>До</th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.assigned_to }}</td>
            <td>{{ task.due_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}